<footer class="w-full bg-white border-t border-gray-100 py-8 px-6">
  <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-3 items-center gap-6">
    <div
      class="flex flex-col items-center md:items-start gap-2 justify-self-center md:justify-self-start"
    >
      <div class="flex items-center gap-2">
        <div
          class="h-6 w-6 bg-black rounded flex items-center justify-center text-[10px] text-white font-bold"
        >
          Dev
        </div>

        <span class="font-bold text-gray-900">@treeofmapple</span>
      </div>
      <p class="text-sm text-gray-500">
        © {{ currentYear }} All Rights Reserved
      </p>
    </div>

    <div class="justify-self-center md:justify-self-end">
      <footer-actions />
    </div>
  </div>
</footer>
